#message {
  display: none;
  position: fixed;
  opacity: 0;
  bottom: 20px;
  left: 20px;
  width: 100%;
  color: #4ba743;
  font-size: 50px;
  animation: msg_anim 3s 1; }

header {
  font-size: 1.8em;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link, a:visited, a:focus, a:active{
  color:black;
  text-decoration: none;
}
a:hover {
  color:green
}

img {
  width:65%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  color:green;
  font-size: 1.5em;
  position: fixed;
  bottom: 40%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
